.category-card {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.37s ease-in-out;
  }
  
  .category-card:hover {
    transform: scale(1.01);
  }
  
  .category-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  