:root {
  --dark-blue: #31353d;
  --green: #9bb6aa;
  --body-color: #f9f9f9;
  --header-color: var(--dark-blue);
  --base-font-family: 'MavenProRegular', arial, tahoma, trebuchet ms, verdana;
  --base-font-size: 14px;
}

/* Globals */
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: var(--dark-blue);
  margin: 0;
}

/* Lists */
ul {
  padding: 0;
  list-style: none;
}

/* Defaults */
abbr {
  cursor: help;
}

body {
  background: var(--body-color);
  color: #aaa;
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
}

img {
  max-width: 100%;
}

.product {
  background: #fff;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.product h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product p {
  margin-bottom: 15px;
}

.product .price {
  color: var(--green);
  font-size: 1.5em;
}

.product .price::before {
  content: '$';
}

.product .image {
  margin-bottom: 15px;
}

.product .image img {
  max-width: 100%;
  height: auto;
}
